{%  schema  %}  

{
    "name": "Youtube 3 Column",
    "settings": [
        {
            "type": "text",
            "id": "section_header",
            "label": "Section Header",
            "default": "Featured Collection"
        }
    ],
    "blocks": [
        {
            "type": "content",
            "name": "Content",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Enter your title"
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Subtitle",
                    "default": "Enter your subtitle"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Button Link",
                    "default": "/"
                },
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button Text",
                    "default": "Shop"
                }
            ],
            "limit": 3
        }
    ],
    "presets": [{"name": "Youtube 3 Column" }]
}


{% endschema %} 


<h2 class="get-started-section-header">{{ section.settings.section_header }} </h2>