{%  schema  %}  

{
    "name": "Youtube 3 Column",
    "settings": [
        {
            "type": "text",
            "id": "section_header",
            "label": "Section Header",
            "default": "Featured Collection"
        }
    ],
    "presets": [{"name": "Youtube 3 Column" }]
}


{% endschema %} 


<h2 class="get-started-section-header">{{ section.settings.section_header }} </h2>